<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>Angular alert banner - Sample</title>
  <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="./bower_components/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="./dist/angular-alert-banner.css">
  <style>
    .jumbotron {
      margin-top: 150px;
    }
    .link-github {
      font-size: 3.5rem;
      color: #000;
    }
  </style>
</head>
<body ng-controller="AppController as vm">

  <!-- alert banner custom element -->
  <alert-banner></alert-banner>
  <!-- alert banner custom element -->

  <div class="container">
    <div class="jumbotron">
      <h2>Angular Alert Banner <a class="pull-right link-github" href="https://github.com/samouss/angular-alert-banner"><i class="fa fa-github"></i></a></h2>
      <p>Click on the link for display the banner !</p>
      <p>

        <a
          href="#"
          class="btn btn-primary btn-lg"
          role="button"
          ng-click="vm.display(vm.TYPES.INFO, 'Info message')"
        >Alert info !</a>

        <a
          href="#"
          class="btn btn-success btn-lg"
          role="button"
          ng-click="vm.display(vm.TYPES.SUCCESS, 'Success message')"
        >Alert success !</a>

        <a
          href="#"
          class="btn btn-danger btn-lg"
          role="button"
          ng-click="vm.display(vm.TYPES.ERROR, 'Error message')"
        >Alert error !</a>

      </p>
      <p>

        <a
          href="#"
          class="btn btn-warning btn-lg"
          role="button"
          alert-banner-attr
          type="{{ ::vm.TYPES.INFO }}"
          message="Display from directive attribute !"
        >Display from directive attribute !</a>

        <a
          href="#"
          class="btn btn-warning btn-lg"
          role="button"
          ng-click="vm.displayWithCallback(vm.TYPES.INFO, 'Banner with callbacks on open and close !')"
        >Display alert with callback !</a>

      </p>
    </div>
  </div>

  <script src="./bower_components/angular/angular.min.js"></script>
  <script src="./dist/angular-alert-banner.js"></script>
  <script src="./app.js"></script>
</body>
</html>