// Variables
$alert-banner-font-color: #FFF !default;
$alert-banner-height: 65px !default;
$alert-banner-info: #337ab7 !default;
$alert-banner-success: #5cb85c !default;
$alert-banner-error: #d9534f !default;

// Alert message
.alert-message {
  width: 100%;
  position: fixed;
  font-size: 1.8rem;
  line-height: $alert-banner-height;
  height: 0;
  top: 0;
  overflow: hidden;
  transition: height .25s ease-in-out;
  text-align: center;
  z-index: 100;
  color: $alert-banner-font-color;

  &.active {
    height: $alert-banner-height;
  }
  &.info {
    background: $alert-banner-info;
  }
  &.success {
    background: $alert-banner-success;
  }
  &.error {
    background: $alert-banner-error;
  }
  p {
    display: inline;
    margin: 0;
  }
  a {
    float: right;
    color: $alert-banner-font-color;

    &:hover,
    &:active {
      text-decoration: none;
    }
  }
  a > i {
    vertical-align: -3px;
  }
}